# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
BUILD.log
*.log
BUILD.log
codegentemp/lcpsoc3/index
codegentemp/mother.ctl
codegentemp/mother.cyfit
codegentemp/mother.pci
codegentemp/mother.pco
codegentemp/mother.rpt
codegentemp/mother.rt_log
codegentemp/mother.sdc
codegentemp/mother.sdf
codegentemp/mother.v
codegentemp/mother.vh2
codegentemp/mother_p.vh2
codegentemp/mother_r.vh2
codegentemp/mother_t.vh2
codegentemp/mother_timing.html
codegentemp/mother_u.sdc
codegentemp/placer.log
codegentemp/project_ids.txt
CortexM3/ARM_GCC_541/Debug/.deps/SOURCE_C__ARM_GCC_GENERIC.P
CortexM3/ARM_GCC_541/Debug/ADC_DelSig_1.lst
CortexM3/ARM_GCC_541/Debug/ADC_DelSig_1_AMux.lst
CortexM3/ARM_GCC_541/Debug/ADC_DelSig_1_Bypass_P32.lst
CortexM3/ARM_GCC_541/Debug/ADC_DelSig_1_Ext_CP_Clk.lst
CortexM3/ARM_GCC_541/Debug/ADC_DelSig_1_INT.lst
CortexM3/ARM_GCC_541/Debug/ADC_DelSig_1_IRQ.lst
CortexM3/ARM_GCC_541/Debug/ADC_DelSig_1_PM.lst
CortexM3/ARM_GCC_541/Debug/ADC_DelSig_1_theACLK.lst
CortexM3/ARM_GCC_541/Debug/AMux.lst
CortexM3/ARM_GCC_541/Debug/Clock_1.lst
CortexM3/ARM_GCC_541/Debug/Clock_2.lst
CortexM3/ARM_GCC_541/Debug/Clock_3.lst
CortexM3/ARM_GCC_541/Debug/Cm3Start.lst
CortexM3/ARM_GCC_541/Debug/cy_em_eeprom.lst
CortexM3/ARM_GCC_541/Debug/CyDmac.lst
CortexM3/ARM_GCC_541/Debug/cyfitter_cfg.lst
CortexM3/ARM_GCC_541/Debug/CyFlash.lst
CortexM3/ARM_GCC_541/Debug/CyLib.lst
CortexM3/ARM_GCC_541/Debug/cymetadata.lst
CortexM3/ARM_GCC_541/Debug/cyPm.lst
CortexM3/ARM_GCC_541/Debug/CySpc.lst
CortexM3/ARM_GCC_541/Debug/cyutils.lst
CortexM3/ARM_GCC_541/Debug/debug.lst
CortexM3/ARM_GCC_541/Debug/InputInterrupt.lst
CortexM3/ARM_GCC_541/Debug/InputPin.lst
CortexM3/ARM_GCC_541/Debug/isr_rx.lst
CortexM3/ARM_GCC_541/Debug/LED.lst
CortexM3/ARM_GCC_541/Debug/M1_ADC.lst
CortexM3/ARM_GCC_541/Debug/M1_IN1.lst
CortexM3/ARM_GCC_541/Debug/M1_IN2.lst
CortexM3/ARM_GCC_541/Debug/M1_PWM.lst
CortexM3/ARM_GCC_541/Debug/M2_ADC.lst
CortexM3/ARM_GCC_541/Debug/M2_IN1.lst
CortexM3/ARM_GCC_541/Debug/M2_IN2.lst
CortexM3/ARM_GCC_541/Debug/M2_PWM.lst
CortexM3/ARM_GCC_541/Debug/M3_ADC.lst
CortexM3/ARM_GCC_541/Debug/M3_IN1.lst
CortexM3/ARM_GCC_541/Debug/M3_IN2.lst
CortexM3/ARM_GCC_541/Debug/M3_PWM.lst
CortexM3/ARM_GCC_541/Debug/M4_ADC.lst
CortexM3/ARM_GCC_541/Debug/M4_IN1.lst
CortexM3/ARM_GCC_541/Debug/M4_IN2.lst
CortexM3/ARM_GCC_541/Debug/M4_PWM.lst
CortexM3/ARM_GCC_541/Debug/M5_ADC.lst
CortexM3/ARM_GCC_541/Debug/M5_IN1.lst
CortexM3/ARM_GCC_541/Debug/M5_IN2.lst
CortexM3/ARM_GCC_541/Debug/M5_PWM.lst
CortexM3/ARM_GCC_541/Debug/M6_ADC.lst
CortexM3/ARM_GCC_541/Debug/M6_IN1.lst
CortexM3/ARM_GCC_541/Debug/M6_IN2.lst
CortexM3/ARM_GCC_541/Debug/M6_PWM.lst
CortexM3/ARM_GCC_541/Debug/main.lst
CortexM3/ARM_GCC_541/Debug/PWM1.lst
CortexM3/ARM_GCC_541/Debug/PWM1_PM.lst
CortexM3/ARM_GCC_541/Debug/PWM2.lst
CortexM3/ARM_GCC_541/Debug/PWM2_PM.lst
CortexM3/ARM_GCC_541/Debug/PWM3.lst
CortexM3/ARM_GCC_541/Debug/PWM3_PM.lst
CortexM3/ARM_GCC_541/Debug/SOURCE_C__ARM_GCC_GENERIC.txt
CortexM3/ARM_GCC_541/Debug/UART.lst
CortexM3/ARM_GCC_541/Debug/UART_BOOT.lst
CortexM3/ARM_GCC_541/Debug/UART_INT.lst
CortexM3/ARM_GCC_541/Debug/UART_IntClock.lst
CortexM3/ARM_GCC_541/Debug/UART_PM.lst
